* {
  font-family: 'Signika', sans-serif;
  box-sizing: border-box;
}

body{
  /*background: linear-gradient(#FFF, #DDD);*/
  background-image: url("../wood.jpg");
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

header, 
main, 
aside,
section,
form, .mini-palette, 
#section-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

aside {
  height: 20vh;
  width: 100%;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}

main {
  flex-direction: column;
  width: 100%;
}

h1 {
  color: #444;
  font-family: 'Berkshire Swash', cursive;
  letter-spacing: 2px;
  font-size: 5rem;
  padding: 0px;
  margin: 0px;
}

h4 {
  color: #444;
  font-family: 'Berkshire Swash', cursive;
  letter-spacing: 2px;
  background-color: #CCC;
  width: 100%;
  padding: 10px 20px;
  margin: 0;
  font-size: 2rem;
}

.swatch {
  background-color: #FFF;
  display: flex;
  height: 100%;
  padding: 20px;
  margin: 0px;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.swatch:hover {
  cursor: cell;
}

form,
#projects {
  padding: 0;
  margin: 20px;
  flex-direction: column;
  background-color: ghostwhite;
  box-shadow: 0 0 4px #444;
  width: 80%;
  justify-content: flex-start;
}

#new-project-form {
  height: 275px;
}

input {
  height: 2rem;
  margin: 10px;
  width: 200px;
  font-size: 1rem;
}

input::placeholder {
  font-size: 1rem;
}

button, 
select,
.submit-button {
  border: none;
  border-radius: 15px;
  color: ghostwhite;
  font-size: 1rem;
  background-color: #444;
  margin: 20px;
  padding: 0px 30px;
  box-shadow: inset 0 0 20px #333;
  height: 2rem;
}

select {
  background-color: #CCC;
  box-shadow: none;
  color: #444;
}

button {
  font-size: 5rem;
  font-family: 'Berkshire Swash', cursive;
  height: auto;
  letter-spacing: 2px;
}

button:hover,
.submit-button:hover {
  background-color: #222;
  cursor: pointer;
}

button:active,
.submit-button:active {
  background-color: #555;
}

button:focus,
select:focus,
input:focus,
.submit-button:focus {
  outline:none;

}

i {
  background: transparent;
  color: #444;
  text-shadow: 1px 1px #FFF;
}

section {
  flex-direction: column;
}

#projects {
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}

.mini-palette {
  display: flex;
  min-width: 200px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px 20px;
  background-color: #fff;
}

.mini-swatch-wrapper {
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.mini-swatch {
  width: 20px;
  height: 20px;
}

/*TYPOGRAPHY*/
p, h3 {
  margin: 5px;
}

h3 {
  color: #444;
  font-weight: 700;
}

.color-label {
  color: #444;
  text-transform: uppercase;
  font-weight: 700;
  background-color: hsla(0, 0%, 100%, .5);
  padding: 5px 10px;
  border-radius: 10px;
}

/*STARTING COLORS*/
#color1 {
  background-color: #ee4035;
}

#color2 {
  background-color: #f37736;
}

#color3 {
  background-color: #fdf498;
}

#color4 {
  background-color: #7bc043;
}

#color5 {
  background-color: #0392cf;
}
